<?xml version="1.0"?>
<launch>

   <!-- <node name="xboxdrv" pkg="alfred_joy" type="xboxdrv.sh"></node> -->
    
    <node name="alfred_teleop" pkg="alfred_joy" type="alfred_teleop_node">
     <!--   <param name="sh_pitch_max" value="0.76" />
        <param name="sh_pitch_min" value="-0.82" />
        <param name="sh_yaw_max" value="2.58" />
        <param name="sh_yaw_min" value="-2.58"/> 

        <param name="std_trans_vel" value="0.2"/>
        <param name="std_rot_vel" value="1.0"/>
        <param name="std_delta_pitch" value="0.02"/>
        <param name="std_delta_yaw" value="0.02"/>     -->
    </node>

    <node name="joy_node" pkg="joy" type="joy_node"/>

</launch>
